<main class="main">
  <div class="nn-container">
    <div class="main__website">
      <img src="images/website.jpg" alt="website example"/>
    </div>
  </div>
</main>
<div class="modal modal_full modal_light js-fullModal">
  <div class="modal__btn btn js-closeBtn">
    <div class="btn__inner">
      <div class="btn__icon iconClose">
        <div class="iconClose__item"></div>
        <div class="iconClose__item"></div>
      </div>
    </div>
    <div class="btn__animatedCircle"></div>
  </div>
  <div class="modal__watch">
    <div class="modal__btnWatch btn btn_big js-watchBtn">
      <div class="btn__inner">
        <div class="btn__icon iconPlus">
          <div class="iconPlus__item"></div>
          <div class="iconPlus__item"></div>
        </div>
      </div>
      <div class="btn__animatedCircle"></div>
    </div>
    <div class="modal__watchTitle">Watch TV spot</div>
  </div>

  <div class="main__ad ad">
    <div class="ad__schedule schedule js-schedule">
      <div class="schedule__textBlock">
        <div class="schedule__gradient">df</div>
        <div class="schedule__title">
          <div class="schedule__titleItem">Portland Timbers</div>
          <br>

          <div class="schedule__titleItem">vs</div>
          <br>

          <div class="schedule__titleItem">FC Dallas</div>
        </div>
        <div class="schedule__dateBlock dateBlock">
          <div class="dateBlock__date">December 6 <span class="dateBlock__datePower">th</span></div>
          <div class="dateBlock__time">3PM ET</div>
        </div>
        <div class="schedule__chanelBlock chanelBlock">
          <div class="chanelBlock__item chanelBlock__live">live on</div>
          <div class="chanelBlock__item chanelBlock__logos">
            <div class="chanelBlock__logo">
              <img src="images/logo-fs1.png" alt="fs1"/>
            </div>
            <div class="chanelBlock__plus">+</div>
            <div class="chanelBlock__logo">
              <img src="images/logo-uni.png" alt="uni"/>
            </div>
          </div>
        </div>
        <div class="schedule__cupLogo">
          <img src="images/cup-logo.png" alt="cup"/>
        </div>
      </div>
      <div class="schedule__bg">
        <img src="images/cup-final.jpg" alt="cup"/>
      </div>

    </div>
    <div class="ad__startCup js-startCup">
      <img src="images/cup.png" alt="cup"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-left">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-right">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-bottom">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__blackening blackening js-blackening"></div>
    <div class="ad__people people js-people">
      <div class="people__left people__img js-peopleLeft">
        <img src="images/people-left.png" alt="a group of people"/>
      </div>
      <div class="people__right people__img js-peopleRight">
        <img src="images/people-right.png" alt="a group of people"/>
      </div>
      <div class="people__textGlory textGlory js-textGlory">
        <div class="textGlory__one js-one">one</div>
        <div class="textGlory__game js-game">game</div>
        <div class="textGlory__glory glory js-glory">
          to glory
          <div class="glory glory__copy js-glory-copyLeft">
            to glory
          </div>
          <div class="glory glory__copy js-glory-copyRight">
            to glory
          </div>
        </div>
      </div>
      <div class="people__logos logos">
        <div class="logos__item logos__left js-logos js-logosLeft">
          <img src="images/portland-logo.png" alt="axe"/>
        </div>
        <div class="logos__item logos__right js-logos js-logosRight">
          <img src="images/dallas-logo.png" alt="buffalo"/>
        </div>
      </div>
    </div>

  </div>
</div>
