<main class="main">
  <div class="nn-container">
    <div class="main__website">
      <img src="images/website.jpg" alt="website example"/>
    </div>
  </div>
</main>
<div class="modal modal_full modal_light js-fullModal">
  <div class="modal__btn btn js-closeBtn">
    <div class="btn__inner">
      <div class="btn__icon iconClose">
        <div class="iconClose__item"></div>
        <div class="iconClose__item"></div>
      </div>
    </div>
    <div class="btn__animatedCircle"></div>
  </div>
  <div class="main__ad ad">
    <div class="ad__startCup js-startCup">
      <img src="images/cup.png" alt="cup"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-left">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-right">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__sweets js-sweets js-sweets-bottom">
      <img src="images/sweets.png" alt="sweets"/>
    </div>
    <div class="ad__blackening blackening js-blackening"></div>
    <div class="people">
      <div class="people__left people__img js-peopleLeft">
        <img src="images/people-left.png" alt="a group of people"/>
      </div>
      <div class="people__right people__img js-peopleRight">
        <img src="images/people-right.png" alt="a group of people"/>
      </div>
    </div>
  </div>
</div>
