<main class="main">
  <div class="nn-container">
    <div class="main__website">
      <img src="images/website.jpg" alt="website example"/>
    </div>
  </div>
</main>
<div class="modal modal_full modal_light js-fullModal">
  <div class="modal__btn btn js-closeBtn">
    <div class="btn__inner">
      <div class="btn__icon iconClose">
        <div class="iconClose__item"></div>
        <div class="iconClose__item"></div>
      </div>
    </div>
    <div class="btn__animatedCircle"></div>
  </div>
  <div class="main__ad ad">
    <div class="ad__startCup js-startCup">
      <img src="images/cup.png" alt="cup"/>
    </div>
  </div>
</div>
