.ad {
  position: relative;
  width: 100%;
  height: 100%;
  &__startCup {
    position: absolute;
    left: calc(50% - 250px);
    top: 0;
    width: 600px;
    transform: translateY(100%);
    z-index: 101;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  &__sweets {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    z-index: 102;
    img {
      display: block;
      width: 100%;
    }
  }
  &__schedule {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.schedule {
  position: relative;
  opacity: 0;
  &__textBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, transparent, transparent 50%, #000000 calc(50% + 1px));
  }
  img{
    display: block;
    height: 100%;
    object-fit: cover;
  }
}
.people {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__img {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    img {
      height: 100%;
    }
  }
  &__left {
    transform: translateX(-100%);
    left: 0;
    z-index: 104;
  }
  &__right {
    right: 0;
    transform: translateX(100%);
    transform-origin: center top;
    z-index: 105;
  }
  &__textGlory {
    position: relative;
    z-index: 106;
  }
  &__logos {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 107;
  }
}
.blackening {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $base;
  z-index: 103;
  opacity: 0;
}
.textGlory {
  font-size: 6.4rem;
  font-family: $font-family-base;
  text-shadow: 17px 15px 23px rgba(0, 0, 0, 1);
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  &__one {
    font-size: 16rem;
    line-height: 11rem;
    transform: scale(5);
    opacity: 0;
  }
  &__game {
    font-size: 11.2rem;
    line-height: 11rem;
    height: 9rem;
    transform: translateY(1000px);
  }
  &__glory {
    opacity: 0;
    position: relative;
  }
}
.glory {
  &__copy {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(2), translateX(-100px);
  }
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  &__item {
    opacity: 0;
    transform: scale(3);
    width: 20%;
  }
  img {
    display: block;
    width: 100%;
  }
}
