$base: black;
$base-light:rgba($base, .8);
$second: #ffffff;
$accent: #d0ad68;

$font-size-base: 18px;

$font-family-base: Conv_DINNextLTPro-Heavy, 'Arial', sans-serif;
$font-family-medium: Conv_DINNextLTPro-Medium, 'Arial', sans-serif;
$bg-main:rgba($base, .1);
$bg-white:white;
$bg-code: rgba(12, 182, 245, 0.65);